<head>
  <div class="loginheader" align="center">
    <button class="btn-success"><%= link_to 'Edit Profile','/welcome/index', :style => 'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'List a Tour', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Edit your Tours', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Update your Tours', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Delete your Tours', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View all tours', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Upload and delete pictures of your tours', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View list of all customers who have bookmarked a tour', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View list of all customers who have booked a tour', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View reviews of a tour', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Delete your account', '/welcome/index', :style =>'text-decoration: none;'%></button>

  </div>
</head>
<body>


</body>