<div class="btn btn-success">
  <%= link_to 'Log Out', logout_path(session[:member_id]), method: :delete, :style =>'color:#FFFFFF;'  %></div>



<div class = "padding">

  <table>
    <tr>
      <th>Id</th>
      <th>Customer id</th>
      <th>Tour id</th>
      <th>Booked seats</th>
      <th>Booked waitlist</th>
    </tr>

    <% id=0 %>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= id+=1 %></td>
        <td><%= booking.customer_id %></td>
        <td><%= booking.tour_id %></td>
        <td><%= booking.bseats %></td>
        <td><%= booking.waitlist %></td>
      </tr>
    <%end %>
  </table>

</div>


<!--<div class="btn btn-success topcorner2">-->
<!--  <%#= link_to 'Back', , :style =>'color:#FFFFFF;' %></div>-->

<div class="btn btn-success topcorner">
  <%= link_to 'Home', 'welcome/index', :style =>'color:#FFFFFF;'%>
</div>