

  <h2 align="center">Sign up</h2>
  <%= form_for(@customers) do |f| %>
    <% if @customers.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@customers.errors.count, "error") %> prohibited this member from being saved:</h2>
        <ul>
          <% @customers.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field" align="center">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field" align="center">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field" align="center">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <br />
    <div class="actions" align="center">
      <%= f.submit "Sign up" %>
    </div>

  <% end %>


