
<h2 align="center">Tour Details</h2>
<%= form_for(@tours) do |f| %>


  <div class="field" align="center">
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Description" %><br />
    <%= f.text_field :description %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Price" %><br />
    <%= f.number_field :price %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Booking Deadline" %><br />
    <%= f.date_field :booking_deadline %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "From Date" %><br />
    <%= f.date_field :from_date %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "To Date" %><br />
    <%= f.date_field :to_date %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Start Location" %><br />
    <%= f.text_field :start_location %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Itenerary" %><br />
    <%= f.text_field :itinerary %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Contact Agent" %><br />
    <%= f.number_field :contact_agent %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Seats" %><br />
    <%= f.number_field :seats %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Waitlist" %><br />
    <%= f.number_field :wait_list %>
  </div>
  <br>

  <div class="field" align="center">
    <%= f.label "Status" %><br />
    <%= f.text_field :status %>
  </div>
  <br>

  <% if @tours.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <div class="actions" align="center">
    <%= f.submit "Book" %>
  </div>


<% end %>
