
<h1>Tours#index</h1>
<p>Find me in app/views/tours/index.html.erb</p>

<div class="btn btn-success">
  <%= link_to 'Log Out', logout_path(session[:member_id]), method: :delete, :style =>'color:#FFFFFF;'  %></div>

<div class = "padding">

  <table>
    <tr>

      <th>S.No.</th>
      <th>Tour Id</th>
      <th>Tour Name</th>
      <th>Description</th>
    </tr>

    <% id=0 %>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= id+=1 %></td>
        <td><%= tour.__id__ %></td>
        <td><%= tour.name %></td>
        <td><%= tour.description %></td>
      </tr>
      </table>
      </div>


<!--<div class="btn btn-success topcorner2">-->
<!--  <%#= link_to 'Back', , :style =>'color:#FFFFFF;' %></div>-->

<div class="btn btn-success topcorner">
  <%= link_to 'Home', 'welcome/index', :style =>'color:#FFFFFF;'%>

</div>


<div class="actions" align="center">
  <%= link_to 'New Tour',  new_tour_path%>
</div>

        <div class="btn btn-success">
          <%= link_to 'Log Out', logout_path(session[:member_id]), method: :delete, :style =>'color:#FFFFFF;'  %></div>


        <div class = "padding">

          <table>
            <tr>
              <th>S. No.</th>
              <th>Name</th>
              <th>EMail ID</th>
            </tr>

            <% id=0 %>
            <% bookings.each do |booking| %>
              <tr>
                <td><%= id+=1 %></td>
                <td><%= booking.bseats %></td>
                <td><%= booking.waitlist %></td>
                <td><%= booking.bseats %></td>
                <td><%= booking.waitlist %></td>
              </tr>
            <%end %>
          </table>

        </div>


        <!--<div class="btn btn-success topcorner2">-->
        <!--  <%#= link_to 'Back', , :style =>'color:#FFFFFF;' %></div>-->

      <div class="btn btn-success topcorner">
        <%= link_to 'Home', 'welcome/index', :style =>'color:#FFFFFF;'%>
    <%end %>
      </div>
