

<head>
  <div class="loginheader" align="center">
    <button class="btn-success"><%= link_to 'Edit Profile','/welcome/index', :style => 'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Search available tours using filters', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Bookmark tours you are interested in', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'View information about tours', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Book n seats on a tour', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Cancel a booking completely or cancel a few seats from a booking done previously', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Submit a review for a tour that you had already taken', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Edit or delete a review you had previously submitted', '/welcome/index', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Delete your account', '/welcome/index', :style =>'text-decoration: none;'%></button>

  </div>
</head>
<body>


</body>