<!DOCTYPE html>
<html>
  <head>
    <title>Assign2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render "layouts/header" %>
  <% if flash[:notice] %>
    <div id = 'error_explanation' class="notice" style="color:red">
      <h2>Message</h2>
      <ul>
        <li><%= flash[:notice] %></li>
      </ul>
    </div>
  <% end %>

  <section class="app-cont">

    <%= yield %>

  </section>
  </body>
</html>
